<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Mega tempus sed amet aliquam veroeros</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the content of the page when looking at its layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Mega tempus sed amet aliquam veroeros</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the content of the page when looking at its layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="about-text">
                        <h1>Mega tempus sed amet aliquam veroeros</h1>
                        <p class="">It is a long established fact that a reader will be distracted by the content of the page when
                            looking at its layout.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>Megna tempus set amet</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle" src="" alt="">
                                <h1>Marina</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle" src="" alt="">
                                <h1>Marina</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle" src="" alt="">
                                <h1>Marina</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle" src="" alt="">
                                <h1>Marina</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Nunc Dignism</h1>
                        <p>Megan tempus sed amet</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img src="" alt="" class="img-fluid">
                                <h1>Megna tempus sed</h1>
                                <p>Various version have evelved over the years,sometimes the purpose (injected humor and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="recent-text">
                                <img src="" alt="" class="img-fluid">
                                <h1>Megna tempus sed</h1>
                                <p>Various version have evelved over the years,sometimes the purpose (injected humor and the like).</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>